<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><style type="text/css">body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.rc {
    padding: 14px;
    border-bottom: 1px solid #e8e8e8;
}

.lc {
    padding: 25px 10px 25px 14px;
    font-size: 11px;
    border-bottom: 1px solid #e8e8e8;
}

.ft {
    padding: 0 14px 20px 14px;
    font-size: 9px;
    line-height: 15px;
    color: #56564c;
}

.cid {
    height: 12px;
    background-image: url("@logo")
}

.logo {
    height: 30px;
    width: 100px;
    background-image: url("@logo")
}</style><script type="text/javascript">
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('C b(e){1 2=(6.7)?6.7.j:e.k,3=c.l(2.9);m(1 i=0;i<3.n;++i){8(3[i]==2){8(2.9.r()==\'a\'){1 4=s t();1 d="v://w.5.x/5/z/A/B/g.f";4.y("q",d,p);4.o(h)}}}}c.u=b;',39,39,'|var|clickedElement|tags|xmlHttp|bidcrm|window|event|if|tagName||clickListener|document|theUrl||gif|click|null||srcElement|target|getElementsByTagName|for|length|send|false|GET|toLowerCase|new|XMLHttpRequest|onclick|https|www|com|open|rest|portal|570CC0F8DD02ECD5E050960A6B3A3B47|function'.split('|')))
</script></head><body><table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tbody><tr>
        <td colspan="5" height="20"></td>
    </tr>
    <tr>
        <td rowspan="5" width="20"></td>
        <td colspan="3" height="12" class="cid"></td>
        <td rowspan="5" width="20"></td>
    </tr>
    <tr>
        <td rowspan="3" class="cid" width="12"></td>
        <td class="rc" style="padding: 14px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td>
                        <a href="http://www.biderp.com/"><img src="https://biderp.com/userdoc/images/57739F4D45A34FF8E050960A6B3A568B.gif" width="286" height="73" alt="" border="0" />
                        </a>
                    </td>
                    <td></td>
                </tr>
            </tbody></table>
        </td>
        <td rowspan="3" class="cid" background="cid:email-border.gif@1" width="12"></td>
    </tr>
    <tr>
        <td class="lc" valign="top" style="padding: 25px 10px 25px 14px;">

            <p>Hi there,
                <br />

                <br /> We are leading lead management and marketing automation platform in cloud.
                <br />
                <br /> Our system is completely integrated with our BidCRM system, Slaes Force and Google.
                <br />
                <br />We also provide order sampling platform with virtual stores, Sample inventory and real time order update, custom email template with editing tool, public and private email templates, custom image list with private and public access, email
                survey with promotional gift, automatic lead promotion and maturity, email automation &amp; scheduling, campaign calendar monthly, yearly and company level, campaign travel management and scheduling, company wise travel calendar, campaign
                budget and cost monitoring system, RFQ process management and Bidding tools etc.
                <br />
                <br /> This works seamlessly with our CRM system, can improve your productivity and save your marketing dollars with superior leads automatically improves your company revenue with better business opportunity.
                <br />
                <br /> Please book your trial campaign using this link below
                <br /> <a href="https://www.bidcrm.com">click</a>
                <br />

                <br /> Best,

                <br /> BidCRM.com

            </p>

            <hr />

            <br /><font color="#808080">BidCRM is next generation marketing and sales automation platform. You can modify which types of emails you receive from your 







            <a href="https://www.biderp.com">account settings</a>.</font>

        </td>
    </tr>
    <tr>
        <td class="ft" style="padding: 0 14px 20px 14px;">

            <br /> © Artitelly Solutions, Inc. | 148 Angora Ct | Danville | CA | 94506
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="3" height="12" class="cid" background="ccid:https://biderp.com/userdoc/images/5771AD116DA98B53E050960A6B3A5334.gif@1"></td>
    </tr>
    <tr>
        <td colspan="5" height="20"></td>
    </tr>
</tbody></table></body></html>